/****** Object:  ForeignKey [FK_PLU_SKUPINY_PLU]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PLU_SKUPINY_PLU]') AND parent_object_id = OBJECT_ID(N'[dbo].[PLU]'))
ALTER TABLE [dbo].[PLU] DROP CONSTRAINT [FK_PLU_SKUPINY_PLU]
GO
/****** Object:  ForeignKey [FK_POKLADNA_PROVOZOVNA]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_POKLADNA_PROVOZOVNA]') AND parent_object_id = OBJECT_ID(N'[dbo].[POKLADNA]'))
ALTER TABLE [dbo].[POKLADNA] DROP CONSTRAINT [FK_POKLADNA_PROVOZOVNA]
GO
/****** Object:  ForeignKey [FK_POKLADNA_STREDISKO]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_POKLADNA_STREDISKO]') AND parent_object_id = OBJECT_ID(N'[dbo].[POKLADNA]'))
ALTER TABLE [dbo].[POKLADNA] DROP CONSTRAINT [FK_POKLADNA_STREDISKO]
GO
/****** Object:  ForeignKey [FK_SKUPINY_PLU_HLAVNISKUPINY_PLU]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SKUPINY_PLU_HLAVNISKUPINY_PLU]') AND parent_object_id = OBJECT_ID(N'[dbo].[SKUPINY_PLU]'))
ALTER TABLE [dbo].[SKUPINY_PLU] DROP CONSTRAINT [FK_SKUPINY_PLU_HLAVNISKUPINY_PLU]
GO
/****** Object:  Table [dbo].[PLU]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PLU]') AND type in (N'U'))
DROP TABLE [dbo].[PLU]
GO
/****** Object:  Table [dbo].[POKLADNA]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POKLADNA]') AND type in (N'U'))
DROP TABLE [dbo].[POKLADNA]
GO
/****** Object:  Table [dbo].[SKUPINY_PLU]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SKUPINY_PLU]') AND type in (N'U'))
DROP TABLE [dbo].[SKUPINY_PLU]
GO
/****** Object:  SqlAssembly [SqlServer]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.assemblies asms WHERE asms.name = N'SqlServer' and is_user_defined = 1)
DROP ASSEMBLY [SqlServer]
GO
/****** Object:  SqlAssembly [SqlServerProject1]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.assemblies asms WHERE asms.name = N'SqlServerProject1' and is_user_defined = 1)
DROP ASSEMBLY [SqlServerProject1]
GO
/****** Object:  Table [dbo].[STREDISKO]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[STREDISKO]') AND type in (N'U'))
DROP TABLE [dbo].[STREDISKO]
GO
/****** Object:  Table [dbo].[PROVOZOVNA]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROVOZOVNA]') AND type in (N'U'))
DROP TABLE [dbo].[PROVOZOVNA]
GO
/****** Object:  Table [dbo].[SKUPINY_DPH]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SKUPINY_DPH]') AND type in (N'U'))
DROP TABLE [dbo].[SKUPINY_DPH]
GO
/****** Object:  Table [dbo].[HLAVNISKUPINY_PLU]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HLAVNISKUPINY_PLU]') AND type in (N'U'))
DROP TABLE [dbo].[HLAVNISKUPINY_PLU]
GO
/****** Object:  Table [dbo].[MAPOVANI_PLU]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MAPOVANI_PLU]') AND type in (N'U'))
DROP TABLE [dbo].[MAPOVANI_PLU]
GO
/****** Object:  Default [DF_HLAVNISKUPINY_PLU_id]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_HLAVNISKUPINY_PLU_id]') AND parent_object_id = OBJECT_ID(N'[dbo].[HLAVNISKUPINY_PLU]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_HLAVNISKUPINY_PLU_id]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[HLAVNISKUPINY_PLU] DROP CONSTRAINT [DF_HLAVNISKUPINY_PLU_id]
END


End
GO
/****** Object:  Default [DF_HLAVNISKUPINY_PLU_timestamp]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_HLAVNISKUPINY_PLU_timestamp]') AND parent_object_id = OBJECT_ID(N'[dbo].[HLAVNISKUPINY_PLU]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_HLAVNISKUPINY_PLU_timestamp]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[HLAVNISKUPINY_PLU] DROP CONSTRAINT [DF_HLAVNISKUPINY_PLU_timestamp]
END


End
GO
/****** Object:  Default [DF_PLU_id]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_PLU_id]') AND parent_object_id = OBJECT_ID(N'[dbo].[PLU]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_PLU_id]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PLU] DROP CONSTRAINT [DF_PLU_id]
END


End
GO
/****** Object:  Default [DF_PLU_ean]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_PLU_ean]') AND parent_object_id = OBJECT_ID(N'[dbo].[PLU]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_PLU_ean]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PLU] DROP CONSTRAINT [DF_PLU_ean]
END


End
GO
/****** Object:  Default [DF_PLU_timestamp]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_PLU_timestamp]') AND parent_object_id = OBJECT_ID(N'[dbo].[PLU]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_PLU_timestamp]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PLU] DROP CONSTRAINT [DF_PLU_timestamp]
END


End
GO
/****** Object:  Default [DF_SKUPINY_DPH_timestamp]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_SKUPINY_DPH_timestamp]') AND parent_object_id = OBJECT_ID(N'[dbo].[SKUPINY_DPH]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_SKUPINY_DPH_timestamp]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SKUPINY_DPH] DROP CONSTRAINT [DF_SKUPINY_DPH_timestamp]
END


End
GO
/****** Object:  Default [DF_SKUPINY_PLU_id]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_SKUPINY_PLU_id]') AND parent_object_id = OBJECT_ID(N'[dbo].[SKUPINY_PLU]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_SKUPINY_PLU_id]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SKUPINY_PLU] DROP CONSTRAINT [DF_SKUPINY_PLU_id]
END


End
GO
/****** Object:  Default [DF_SKUPINY_PLU_timestamp]    Script Date: 11/16/2014 23:00:18 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_SKUPINY_PLU_timestamp]') AND parent_object_id = OBJECT_ID(N'[dbo].[SKUPINY_PLU]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_SKUPINY_PLU_timestamp]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SKUPINY_PLU] DROP CONSTRAINT [DF_SKUPINY_PLU_timestamp]
END


End
GO
/****** Object:  Table [dbo].[MAPOVANI_PLU]    Script Date: 11/16/2014 23:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MAPOVANI_PLU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MAPOVANI_PLU](
	[stredisko_id] [int] NOT NULL,
	[plu_id] [int] NOT NULL
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[MAPOVANI_PLU]') AND name = N'IX_PLU')
CREATE NONCLUSTERED INDEX [IX_PLU] ON [dbo].[MAPOVANI_PLU] 
(
	[plu_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[MAPOVANI_PLU]') AND name = N'IX_STREDISKO')
CREATE NONCLUSTERED INDEX [IX_STREDISKO] ON [dbo].[MAPOVANI_PLU] 
(
	[stredisko_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
INSERT [dbo].[MAPOVANI_PLU] ([stredisko_id], [plu_id]) VALUES (1, 4)
INSERT [dbo].[MAPOVANI_PLU] ([stredisko_id], [plu_id]) VALUES (1, 7)
INSERT [dbo].[MAPOVANI_PLU] ([stredisko_id], [plu_id]) VALUES (1, 9)
/****** Object:  Table [dbo].[HLAVNISKUPINY_PLU]    Script Date: 11/16/2014 23:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HLAVNISKUPINY_PLU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HLAVNISKUPINY_PLU](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[nazev] [nchar](40) COLLATE Czech_CI_AS NULL,
	[timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_HLAVNISKUPINY_PLU] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[HLAVNISKUPINY_PLU] ([id], [nazev], [timestamp]) VALUES (N'6dfd270c-19e5-45e5-8dd0-225e36094a4a', N'Cigarety                                ', CAST(0x0000A3E40158C62E AS DateTime))
INSERT [dbo].[HLAVNISKUPINY_PLU] ([id], [nazev], [timestamp]) VALUES (N'383a3dd5-c6c8-4e8c-978b-6a96541b3993', N'Salaty1                                 ', CAST(0x0000A3E5016DC96E AS DateTime))
INSERT [dbo].[HLAVNISKUPINY_PLU] ([id], [nazev], [timestamp]) VALUES (N'5877f73d-eb44-4fb8-b320-7d357f239ef3', N'Salaty2                                 ', CAST(0x0000A3E50000D944 AS DateTime))
/****** Object:  Table [dbo].[SKUPINY_DPH]    Script Date: 11/16/2014 23:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SKUPINY_DPH]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SKUPINY_DPH](
	[id] [uniqueidentifier] NOT NULL,
	[jmeno] [nchar](30) COLLATE Czech_CI_AS NULL,
	[sazba] [real] NULL,
	[timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_SKUPINY_DPH] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[SKUPINY_DPH] ([id], [jmeno], [sazba], [timestamp]) VALUES (N'9cd4f358-369f-428a-aa8d-6a7bf49af667', N'0                             ', 0, CAST(0x0000000000000000 AS DateTime))
/****** Object:  Table [dbo].[PROVOZOVNA]    Script Date: 11/16/2014 23:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROVOZOVNA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PROVOZOVNA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[jmeno] [nchar](30) COLLATE Czech_CI_AS NULL,
	[adresa] [nchar](30) COLLATE Czech_CI_AS NULL,
 CONSTRAINT [PK_PROVOZOVNA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[PROVOZOVNA] ON
INSERT [dbo].[PROVOZOVNA] ([id], [jmeno], [adresa]) VALUES (1, N'Provozovna A                  ', N'Na kopecku 6, Ostrava         ')
INSERT [dbo].[PROVOZOVNA] ([id], [jmeno], [adresa]) VALUES (2, N'Provozovna B                  ', N'Na ruzku 9, Praha             ')
SET IDENTITY_INSERT [dbo].[PROVOZOVNA] OFF
/****** Object:  Table [dbo].[STREDISKO]    Script Date: 11/16/2014 23:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[STREDISKO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[STREDISKO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[jmeno] [nchar](30) COLLATE Czech_CI_AS NULL,
 CONSTRAINT [PK_STREDISKO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[STREDISKO] ON
INSERT [dbo].[STREDISKO] ([id], [jmeno]) VALUES (1, N'Stredisko Alko-Nealko         ')
INSERT [dbo].[STREDISKO] ([id], [jmeno]) VALUES (2, N'Stredisko Alko                ')
SET IDENTITY_INSERT [dbo].[STREDISKO] OFF
/****** Object:  SqlAssembly [SqlServerProject1]    Script Date: 11/16/2014 23:00:18 ******/
IF NOT EXISTS (SELECT * FROM sys.assemblies asms WHERE asms.name = N'SqlServerProject1' and is_user_defined = 1)
CREATE ASSEMBLY [SqlServerProject1]
AUTHORIZATION [dbo]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C01030089AE57540000000000000000E00002210B010800000600000006000000000000AE250000002000000040000000004000002000000002000004000000000000000400000000000000008000000002000000000000030040850000100000100000000010000010000000000000100000000000000000000000542500005700000000400000B003000000000000000000000000000000000000006000000C000000D02400001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000B4050000002000000006000000020000000000000000000000000000200000602E72737263000000B0030000004000000004000000080000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000000C00000000000000000000000000004000004200000000000000000000000000000000902500000000000048000000020005005020000080040000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000042534A4201000100000000000C00000076322E302E35303732370000000005006C0000005C010000237E0000C80100000802000023537472696E677300000000D00300000800000023555300D8030000100000002347554944000000E80300009800000023426C6F620000000000000002000001071400000900000000FA013300160000010000000E000000010000000D0000000B000000010000000100000000000A0001000000000006003B0029000600580029000600750029000600940029000600AD0029000600C60029000600E10029000600FC0029000600340115010600480129000600740161012F00880100000600B70197010600D70197010000000001000000000001000100090052000A00110052000A00190052000A00210052000A00290052000A00310052000A00390052000A00410052000A00490052000F00510052000A00590052001400690052001A00710052001F002E000B0023002E0013003A002E001B003A002E00230040002E002B0023002E0033004A002E003B003A002E004B003A002E005B0066002E0063006F002E006B00780004800000010000002C158C7B000000000000F501000002000000000000000000000001002000000000000000003C4D6F64756C653E0053716C53657276657250726F6A656374312E646C6C006D73636F726C69620053797374656D2E5265666C656374696F6E00417373656D626C795469746C65417474726962757465002E63746F7200417373656D626C794465736372697074696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E41747472696275746500417373656D626C79436F6D70616E7941747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F7079726967687441747472696275746500417373656D626C7954726164656D61726B41747472696275746500417373656D626C7943756C747572654174747269627574650053797374656D2E52756E74696D652E496E7465726F70536572766963657300436F6D56697369626C6541747472696275746500417373656D626C7956657273696F6E4174747269627574650053797374656D2E446961676E6F73746963730044656275676761626C6541747472696275746500446562756767696E674D6F6465730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650053716C53657276657250726F6A65637431000000032000000000007211D2382DDD8C43BDF2A56BE676AD010008B77A5C561934E089042001010E04200101020520010111310420010108032000011601001153716C53657276657250726F6A65637431000005010000000009010004486F6D6500001B010016436F7079726967687420C2A920486F6D65203230313400000801000701000000000801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F777301000000000089AE5754000000000200000066000000EC240000EC060000525344539CD4C9617DD2A0479C71FAE42670A95501000000453A5C536F757263655C53716C53657276657250726F6A656374315C53716C53657276657250726F6A656374315C6F626A5C44656275675C53716C53657276657250726F6A656374312E7064620000007C25000000000000000000009E250000002000000000000000000000000000000000000000000000902500000000000000000000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF25002040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000540300000000000000000000540334000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000001008C7B2C15000001008C7B2C153F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004B4020000010053007400720069006E006700460069006C00650049006E0066006F0000009002000001003000300030003000300034006200300000002C000500010043006F006D00700061006E0079004E0061006D0065000000000048006F006D006500000000004C0012000100460069006C0065004400650073006300720069007000740069006F006E0000000000530071006C00530065007200760065007200500072006F006A006500630074003100000040000F000100460069006C006500560065007200730069006F006E000000000031002E0030002E0035003400320030002E0033003100360032003800000000004C001600010049006E007400650072006E0061006C004E0061006D0065000000530071006C00530065007200760065007200500072006F006A0065006300740031002E0064006C006C0000005000160001004C006500670061006C0043006F007000790072006900670068007400000043006F0070007900720069006700680074002000A900200048006F006D0065002000320030003100340000005400160001004F0072006900670069006E0061006C00460069006C0065006E0061006D0065000000530071006C00530065007200760065007200500072006F006A0065006300740031002E0064006C006C000000440012000100500072006F0064007500630074004E0061006D00650000000000530071006C00530065007200760065007200500072006F006A006500630074003100000044000F000100500072006F006400750063007400560065007200730069006F006E00000031002E0030002E0035003400320030002E00330031003600320038000000000048000F00010041007300730065006D0062006C0079002000560065007200730069006F006E00000031002E0030002E0035003400320030002E003300310036003200380000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000B03500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO
ALTER ASSEMBLY [SqlServerProject1]
ADD FILE FROM 0xEFBBBF7573696E672053797374656D2E5265666C656374696F6E3B0D0A7573696E672053797374656D2E52756E74696D652E436F6D70696C657253657276696365733B0D0A7573696E672053797374656D2E52756E74696D652E496E7465726F7053657276696365733B0D0A7573696E672053797374656D2E446174612E53716C3B0D0A0D0A2F2F2047656E6572616C20496E666F726D6174696F6E2061626F757420616E20617373656D626C7920697320636F6E74726F6C6C6564207468726F7567682074686520666F6C6C6F77696E670D0A2F2F20736574206F6620617474726962757465732E204368616E6765207468657365206174747269627574652076616C75657320746F206D6F646966792074686520696E666F726D6174696F6E0D0A2F2F206173736F636961746564207769746820616E20617373656D626C792E0D0A5B617373656D626C793A20417373656D626C795469746C65282253716C53657276657250726F6A6563743122295D0D0A5B617373656D626C793A20417373656D626C794465736372697074696F6E282222295D0D0A5B617373656D626C793A20417373656D626C79436F6E66696775726174696F6E282222295D0D0A5B617373656D626C793A20417373656D626C79436F6D70616E792822486F6D6522295D0D0A5B617373656D626C793A20417373656D626C7950726F64756374282253716C53657276657250726F6A6563743122295D0D0A5B617373656D626C793A20417373656D626C79436F707972696768742822436F7079726967687420C2A920486F6D65203230313422295D0D0A5B617373656D626C793A20417373656D626C7954726164656D61726B282222295D0D0A5B617373656D626C793A20417373656D626C7943756C74757265282222295D0D0A0D0A5B617373656D626C793A20436F6D56697369626C652866616C7365295D0D0A0D0A2F2F0D0A2F2F2056657273696F6E20696E666F726D6174696F6E20666F7220616E20617373656D626C7920636F6E7369737473206F662074686520666F6C6C6F77696E6720666F75722076616C7565733A0D0A2F2F0D0A2F2F2020202020204D616A6F722056657273696F6E0D0A2F2F2020202020204D696E6F722056657273696F6E0D0A2F2F2020202020204275696C64204E756D6265720D0A2F2F2020202020205265766973696F6E0D0A2F2F0D0A2F2F20596F752063616E207370656369667920616C6C207468652076616C756573206F7220796F752063616E2064656661756C7420746865205265766973696F6E20616E64204275696C64204E756D626572730D0A2F2F206279207573696E672074686520272A272061732073686F776E2062656C6F773A0D0A5B617373656D626C793A20417373656D626C7956657273696F6E2822312E302E2A22295D0D0A0D0A
AS N'Properties\AssemblyInfo.cs'
GO
ALTER ASSEMBLY [SqlServerProject1]
ADD FILE FROM 0x4D6963726F736F667420432F432B2B204D534620372E30300D0A1A445300000000020000020000000F00000048000000000000000D000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000C0FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF38C0FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF0BCA3101380000000010000000100000000000000A00FFFF04000000038000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000942E310189AE5754010000009CD4C9617DD2A0479C71FAE42670A955000000000000000001000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000BCA310138000000001000000010000000000000FFFFFFFF040000000380000000000000FFFFFFFF00000000FFFFFFFF00000000FFFFFFFF000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FEEFFEEF01000000010000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFF1A092FF1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFF770931010100000007000088080027C60900ED0B00000000040000000400000004000000000000000000000000000000190000000000EEC0000000002DBA2EF10000000000000000FEEFFEEF01000000010000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000FFFFFFFF1A092FF10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000942E310189AE5754010000009CD4C9617DD2A0479C71FAE42670A955220000002F4C696E6B496E666F002F6E616D6573002F7372632F686561646572626C6F636B000300000006000000010000001A0000000000000011000000060000000A0000000500000000000000040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000A00000018000000720000003800000065000000000000001900000000000000100000002C00000000000000030000000B000000060000000900000007000000080000000A00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000C000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
AS N'SqlServerProject1.pdb'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'AutoDeployed' , N'ASSEMBLY',N'SqlServerProject1', NULL,NULL, NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'AutoDeployed', @value=N'yes' , @level0type=N'ASSEMBLY',@level0name=N'SqlServerProject1'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'SqlAssemblyProjectRoot' , N'ASSEMBLY',N'SqlServerProject1', NULL,NULL, NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyProjectRoot', @value=N'E:\Source\SqlServerProject1\SqlServerProject1' , @level0type=N'ASSEMBLY',@level0name=N'SqlServerProject1'
GO
/****** Object:  SqlAssembly [SqlServer]    Script Date: 11/16/2014 23:00:18 ******/
IF NOT EXISTS (SELECT * FROM sys.assemblies asms WHERE asms.name = N'SqlServer' and is_user_defined = 1)
CREATE ASSEMBLY [SqlServer]
AUTHORIZATION [dbo]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C010300EEDB67540000000000000000E00002210B010B000006000000060000000000007E2500000020000000400000000040000020000000020000040000000000000004000000000000000080000000020000000000000300408500001000001000000000100000100000000000001000000000000000000000002825000053000000004000008003000000000000000000000000000000000000006000000C000000C02400001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E7465787400000084050000002000000006000000020000000000000000000000000000200000602E7273726300000080030000004000000004000000080000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000000C00000000000000000000000000004000004200000000000000000000000000000000602500000000000048000000020005005020000070040000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000042534A4201000100000000000C00000076322E302E35303732370000000005006C0000005C010000237E0000C8010000F801000023537472696E677300000000C00300000800000023555300C8030000100000002347554944000000D80300009800000023426C6F620000000000000002000001071400000900000000FA253300160000010000000E000000010000000D0000000B000000010000000100000000000A0001000000000006003300210006005000210006006D00210006008C0021000600A50021000600BE0021000600D90021000600F400210006002C010D0106004001210006006C0159012F00800100000600AF018F010600CF018F01000000000100000000000100010009004A000A0011004A000A0019004A000A0021004A000A0029004A000A0031004A000A0039004A000A0041004A000A0049004A000F0051004A000A0059004A00140069004A001A0071004A001F002E000B0023002E0013003A002E001B003A002E00230040002E002B0023002E0033004A002E003B003A002E004B003A002E005B0066002E0063006F002E006B007800048000000100000039157F00000000000000ED01000002000000000000000000000001001800000000000000003C4D6F64756C653E0053716C5365727665722E646C6C006D73636F726C69620053797374656D2E5265666C656374696F6E00417373656D626C795469746C65417474726962757465002E63746F7200417373656D626C794465736372697074696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E41747472696275746500417373656D626C79436F6D70616E7941747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F7079726967687441747472696275746500417373656D626C7954726164656D61726B41747472696275746500417373656D626C7943756C747572654174747269627574650053797374656D2E52756E74696D652E496E7465726F70536572766963657300436F6D56697369626C6541747472696275746500417373656D626C7956657273696F6E4174747269627574650053797374656D2E446961676E6F73746963730044656275676761626C6541747472696275746500446562756767696E674D6F6465730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650053716C53657276657200000003200000000000FABAA55AB7F18248BB49B646BEEDFF850008B77A5C561934E089042001010E04200101020520010111310420010108032000011601001153716C53657276657250726F6A65637431000005010000000009010004486F6D6500001B010016436F7079726967687420C2A920486F6D65203230313400000801000701000000000801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F7773010000000000EEDB675400000000020000004B000000DC240000DC06000052534453CF63A7EE64CE45488CE2E39B4CC83F7547000000443A5C536F757263655C5365727665725C53716C5365727665725C6F626A5C44656275675C53716C5365727665722E70646200005025000000000000000000006E2500000020000000000000000000000000000000000000000000006025000000000000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF25002040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000280300000000000000000000280334000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000001007F003915000001007F0039153F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B00488020000010053007400720069006E006700460069006C00650049006E0066006F0000006402000001003000300030003000300034006200300000002C000500010043006F006D00700061006E0079004E0061006D0065000000000048006F006D006500000000004C0012000100460069006C0065004400650073006300720069007000740069006F006E0000000000530071006C00530065007200760065007200500072006F006A00650063007400310000003C000D000100460069006C006500560065007200730069006F006E000000000031002E0030002E0035003400330033002E00310032003700000000003C000E00010049006E007400650072006E0061006C004E0061006D0065000000530071006C005300650072007600650072002E0064006C006C0000005000160001004C006500670061006C0043006F007000790072006900670068007400000043006F0070007900720069006700680074002000A900200048006F006D00650020003200300031003400000044000E0001004F0072006900670069006E0061006C00460069006C0065006E0061006D0065000000530071006C005300650072007600650072002E0064006C006C000000440012000100500072006F0064007500630074004E0061006D00650000000000530071006C00530065007200760065007200500072006F006A006500630074003100000040000D000100500072006F006400750063007400560065007200730069006F006E00000031002E0030002E0035003400330033002E003100320037000000000044000D00010041007300730065006D0062006C0079002000560065007200730069006F006E00000031002E0030002E0035003400330033002E00310032003700000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000803500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO
/****** Object:  Table [dbo].[SKUPINY_PLU]    Script Date: 11/16/2014 23:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SKUPINY_PLU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SKUPINY_PLU](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[nazev] [nchar](40) COLLATE Czech_CI_AS NULL,
	[hlavniskupiny_id] [uniqueidentifier] NOT NULL,
	[timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_SKUPINY_PLU] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[SKUPINY_PLU] ([id], [nazev], [hlavniskupiny_id], [timestamp]) VALUES (N'f2112f50-3268-4fe0-afe9-407f761eea23', N'Nealko2                                 ', N'ff1d55f6-28ff-4f75-95c7-d3276335173f', CAST(0x0000A3D300686DB8 AS DateTime))
INSERT [dbo].[SKUPINY_PLU] ([id], [nazev], [hlavniskupiny_id], [timestamp]) VALUES (N'b51d2c0d-43fb-4efd-92cd-8a78fc2f8886', N'Alkohol                                 ', N'ff1d55f6-28ff-4f75-95c7-d3276335173f', CAST(0x0000A3D3006875CB AS DateTime))
/****** Object:  Trigger [TR_HLAVNISKUPINY_PLU_ON_IU]    Script Date: 11/16/2014 23:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TR_HLAVNISKUPINY_PLU_ON_IU]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER [dbo].[TR_HLAVNISKUPINY_PLU_ON_IU]
ON [dbo].[HLAVNISKUPINY_PLU]
FOR INSERT, UPDATE
AS
	UPDATE dbo.HLAVNISKUPINY_PLU
  SET timestamp = GETDATE()
  FROM Inserted i
  WHERE dbo.HLAVNISKUPINY_PLU.id = i.id and (i.timestamp is null or i.timestamp = CONVERT(DATETIME, ''01/01/1900'', 0))
'
GO
/****** Object:  Table [dbo].[POKLADNA]    Script Date: 11/16/2014 23:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POKLADNA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[POKLADNA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[serialnumber] [nchar](30) COLLATE Czech_CI_AS NULL,
	[provozovna_id] [int] NOT NULL,
	[stredisko_id] [int] NOT NULL,
 CONSTRAINT [PK_POKLADNA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[POKLADNA] ON
INSERT [dbo].[POKLADNA] ([id], [serialnumber], [provozovna_id], [stredisko_id]) VALUES (2, N'A001                          ', 1, 1)
INSERT [dbo].[POKLADNA] ([id], [serialnumber], [provozovna_id], [stredisko_id]) VALUES (3, N'A002                          ', 1, 1)
INSERT [dbo].[POKLADNA] ([id], [serialnumber], [provozovna_id], [stredisko_id]) VALUES (8, N'B001                          ', 2, 2)
SET IDENTITY_INSERT [dbo].[POKLADNA] OFF
/****** Object:  Table [dbo].[PLU]    Script Date: 11/16/2014 23:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PLU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PLU](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[ean] [int] NOT NULL,
	[nazev1] [nchar](40) COLLATE Czech_CI_AS NOT NULL,
	[nazev2] [nchar](40) COLLATE Czech_CI_AS NULL,
	[nazev3] [nchar](40) COLLATE Czech_CI_AS NULL,
	[cena1] [decimal](10, 2) NOT NULL,
	[cena2] [decimal](10, 2) NULL,
	[cena3] [decimal](10, 2) NULL,
	[skupina_id] [uniqueidentifier] NOT NULL,
	[dph_id] [uniqueidentifier] NULL,
	[zs_id] [uniqueidentifier] NULL,
	[text] [nchar](255) COLLATE Czech_CI_AS NULL,
	[status1] [smallint] NULL,
	[status2] [smallint] NULL,
	[halo_lalo] [int] NULL,
	[link_plu1_id] [uniqueidentifier] NULL,
	[link_plu1_pocet] [int] NULL,
	[link_plu2_id] [uniqueidentifier] NULL,
	[link_plu2_pocet] [int] NULL,
	[koeficient] [decimal](4, 2) NULL,
	[objednavka_typ] [int] NULL,
	[menu_vol] [smallint] NULL,
	[menu_pat] [smallint] NULL,
	[stastna_hodina] [int] NULL,
	[piktogram_id] [uniqueidentifier] NULL,
	[stav] [int] NULL,
	[blokace] [int] NULL,
	[zdroj_id] [uniqueidentifier] NULL,
	[zdroj_cislo] [int] NULL,
	[zdroj_sklad] [int] NULL,
	[timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_PLU_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Trigger [TR_SKUPINY_PLU_ON_IU]    Script Date: 11/16/2014 23:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TR_SKUPINY_PLU_ON_IU]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER [dbo].[TR_SKUPINY_PLU_ON_IU]
ON [dbo].[SKUPINY_PLU]
FOR INSERT, UPDATE
AS
	UPDATE dbo.SKUPINY_PLU
  SET timestamp = GETDATE()
  FROM Inserted i
  WHERE dbo.SKUPINY_PLU.id = i.id
'
GO
/****** Object:  Trigger [TR_PLU_ON_IU]    Script Date: 11/16/2014 23:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TR_PLU_ON_IU]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER [dbo].[TR_PLU_ON_IU]
ON [dbo].[PLU]
FOR INSERT, UPDATE
AS
	UPDATE dbo.PLU
  SET timestamp = GETDATE()
  FROM Inserted i
  WHERE dbo.PLU.id = i.id
'
GO
/****** Object:  Default [DF_HLAVNISKUPINY_PLU_id]    Script Date: 11/16/2014 23:00:18 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_HLAVNISKUPINY_PLU_id]') AND parent_object_id = OBJECT_ID(N'[dbo].[HLAVNISKUPINY_PLU]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_HLAVNISKUPINY_PLU_id]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[HLAVNISKUPINY_PLU] ADD  CONSTRAINT [DF_HLAVNISKUPINY_PLU_id]  DEFAULT (newid()) FOR [id]
END


End
GO
/****** Object:  Default [DF_HLAVNISKUPINY_PLU_timestamp]    Script Date: 11/16/2014 23:00:18 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_HLAVNISKUPINY_PLU_timestamp]') AND parent_object_id = OBJECT_ID(N'[dbo].[HLAVNISKUPINY_PLU]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_HLAVNISKUPINY_PLU_timestamp]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[HLAVNISKUPINY_PLU] ADD  CONSTRAINT [DF_HLAVNISKUPINY_PLU_timestamp]  DEFAULT ((0)) FOR [timestamp]
END


End
GO
/****** Object:  Default [DF_PLU_id]    Script Date: 11/16/2014 23:00:18 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_PLU_id]') AND parent_object_id = OBJECT_ID(N'[dbo].[PLU]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_PLU_id]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PLU] ADD  CONSTRAINT [DF_PLU_id]  DEFAULT (newid()) FOR [id]
END


End
GO
/****** Object:  Default [DF_PLU_ean]    Script Date: 11/16/2014 23:00:18 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_PLU_ean]') AND parent_object_id = OBJECT_ID(N'[dbo].[PLU]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_PLU_ean]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PLU] ADD  CONSTRAINT [DF_PLU_ean]  DEFAULT ((0)) FOR [ean]
END


End
GO
/****** Object:  Default [DF_PLU_timestamp]    Script Date: 11/16/2014 23:00:18 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_PLU_timestamp]') AND parent_object_id = OBJECT_ID(N'[dbo].[PLU]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_PLU_timestamp]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PLU] ADD  CONSTRAINT [DF_PLU_timestamp]  DEFAULT ((0)) FOR [timestamp]
END


End
GO
/****** Object:  Default [DF_SKUPINY_DPH_timestamp]    Script Date: 11/16/2014 23:00:18 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_SKUPINY_DPH_timestamp]') AND parent_object_id = OBJECT_ID(N'[dbo].[SKUPINY_DPH]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_SKUPINY_DPH_timestamp]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SKUPINY_DPH] ADD  CONSTRAINT [DF_SKUPINY_DPH_timestamp]  DEFAULT ((0)) FOR [timestamp]
END


End
GO
/****** Object:  Default [DF_SKUPINY_PLU_id]    Script Date: 11/16/2014 23:00:18 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_SKUPINY_PLU_id]') AND parent_object_id = OBJECT_ID(N'[dbo].[SKUPINY_PLU]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_SKUPINY_PLU_id]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SKUPINY_PLU] ADD  CONSTRAINT [DF_SKUPINY_PLU_id]  DEFAULT (newid()) FOR [id]
END


End
GO
/****** Object:  Default [DF_SKUPINY_PLU_timestamp]    Script Date: 11/16/2014 23:00:18 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_SKUPINY_PLU_timestamp]') AND parent_object_id = OBJECT_ID(N'[dbo].[SKUPINY_PLU]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_SKUPINY_PLU_timestamp]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SKUPINY_PLU] ADD  CONSTRAINT [DF_SKUPINY_PLU_timestamp]  DEFAULT ((0)) FOR [timestamp]
END


End
GO
/****** Object:  ForeignKey [FK_PLU_SKUPINY_PLU]    Script Date: 11/16/2014 23:00:18 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PLU_SKUPINY_PLU]') AND parent_object_id = OBJECT_ID(N'[dbo].[PLU]'))
ALTER TABLE [dbo].[PLU]  WITH CHECK ADD  CONSTRAINT [FK_PLU_SKUPINY_PLU] FOREIGN KEY([skupina_id])
REFERENCES [dbo].[SKUPINY_PLU] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PLU_SKUPINY_PLU]') AND parent_object_id = OBJECT_ID(N'[dbo].[PLU]'))
ALTER TABLE [dbo].[PLU] CHECK CONSTRAINT [FK_PLU_SKUPINY_PLU]
GO
/****** Object:  ForeignKey [FK_POKLADNA_PROVOZOVNA]    Script Date: 11/16/2014 23:00:18 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_POKLADNA_PROVOZOVNA]') AND parent_object_id = OBJECT_ID(N'[dbo].[POKLADNA]'))
ALTER TABLE [dbo].[POKLADNA]  WITH CHECK ADD  CONSTRAINT [FK_POKLADNA_PROVOZOVNA] FOREIGN KEY([provozovna_id])
REFERENCES [dbo].[PROVOZOVNA] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_POKLADNA_PROVOZOVNA]') AND parent_object_id = OBJECT_ID(N'[dbo].[POKLADNA]'))
ALTER TABLE [dbo].[POKLADNA] CHECK CONSTRAINT [FK_POKLADNA_PROVOZOVNA]
GO
/****** Object:  ForeignKey [FK_POKLADNA_STREDISKO]    Script Date: 11/16/2014 23:00:18 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_POKLADNA_STREDISKO]') AND parent_object_id = OBJECT_ID(N'[dbo].[POKLADNA]'))
ALTER TABLE [dbo].[POKLADNA]  WITH CHECK ADD  CONSTRAINT [FK_POKLADNA_STREDISKO] FOREIGN KEY([stredisko_id])
REFERENCES [dbo].[STREDISKO] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_POKLADNA_STREDISKO]') AND parent_object_id = OBJECT_ID(N'[dbo].[POKLADNA]'))
ALTER TABLE [dbo].[POKLADNA] CHECK CONSTRAINT [FK_POKLADNA_STREDISKO]
GO
/****** Object:  ForeignKey [FK_SKUPINY_PLU_HLAVNISKUPINY_PLU]    Script Date: 11/16/2014 23:00:18 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SKUPINY_PLU_HLAVNISKUPINY_PLU]') AND parent_object_id = OBJECT_ID(N'[dbo].[SKUPINY_PLU]'))
ALTER TABLE [dbo].[SKUPINY_PLU]  WITH CHECK ADD  CONSTRAINT [FK_SKUPINY_PLU_HLAVNISKUPINY_PLU] FOREIGN KEY([hlavniskupiny_id])
REFERENCES [dbo].[HLAVNISKUPINY_PLU] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SKUPINY_PLU_HLAVNISKUPINY_PLU]') AND parent_object_id = OBJECT_ID(N'[dbo].[SKUPINY_PLU]'))
ALTER TABLE [dbo].[SKUPINY_PLU] CHECK CONSTRAINT [FK_SKUPINY_PLU_HLAVNISKUPINY_PLU]
GO
